<%- include('includes/m-head.ejs') %>
	</head>

<body>
	<!-- Category Model Start-->
	<%- include('includes/catnsearch.ejs') %>
    <!-- Search Model End-->
    
    <!-- Cart Sidebar Offset Start-->
    <div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block  main-cart-title">My Cart <span></span></div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div>
    
        <h1>Please login here</h1>
        <li>
            <input type="hidden" name="_csrf" value="opkCsu4i-C_fL1Stzpfjxwu2tP2eh0KaJmIs"> 
              <a href="/mylogin" class="offer-link"><i class="uil uil-phone-alt"></i>Login</a>
        </li>
        
</div>

    <!-- Header Start -->
    <%- include('includes/m-header.ejs') %>
    <!-- Header End -->
  
        <!-- Body Start -->
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Stationary</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
        </div>

				<div class="anurag-a">
					<h1 class="anurag-b">We Are Working On This</h1>
					<img class="anurag-c" src="/cartgrow/util/work.png" alt="">
					
				</div>
				

    
	</div>
	<!-- Body End -->



  <!-- Footer Start -->
  <%- include('includes/m-foot.ejs') %>
	<!-- Footer End -->

<%- include('includes/m-foot.ejs') %>