<%- include('../includes/m-head.ejs') %>

</head>

<body>
  <!-- Category Model Start-->
  <%- include('../includes/catnsearch.ejs') %>

	<!-- Search Model End-->

	<!-- Cart Sidebar Offset Start-->
	<div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block  main-cart-title">My Cart <span></span></div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div>
    
        <h1>Please login here</h1>
        <li>
            <input type="hidden" name="_csrf" value="J742Jvnk-aC-q-e_Fhnx7zgz2gPZSvQuvnKs"> 
              <a href="https://cartgrow.herokuapp.com/login" class="offer-link"><i class="uil uil-phone-alt"></i>Login</a>
        </li>
        
</div>

	<!-- Cart Sidebar Offsetl End-->

	<!-- Header Start -->
	<%- include('../includes/m-header.ejs') %>

	<!-- Header End -->
	<!-- Body Start -->
	<div class="wrapper">
		<div class="default-dt">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="default_tabs">
							<nav>
								<div class="nav nav-tabs tab_default  justify-content-center">
								</div>
							</nav>						
						</div>
						<div class="title129">	
							<h2>About Us</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="life-gambo">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="default-title left-text">
							<h2>About Cartgrow</h2>
							<!-- <p>Customers Deserve Better</p> -->
							<!-- <img src="./Gambo - About Us_files/line.svg" alt=""> -->
						</div>
						<div class="about-content">
							<p>Cartgrow is an Indian online grocery delivery service.<br><br> Cartgrow delivers grocery and daily essentials like fresh fruits &amp; vegetables, rice, dals, oil, flour etc. Cartgrow is more than just another average online retailer. We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. <br>Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-img">
							<img src="/cartgrow/util/ab-removebg-preview.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
        <div class="how-order-gambo">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="default-title">
							<h2>Why should I use Cartgrow?</h2>
							<!-- <p>How Do I order on Cartgrow</p> -->
							<!-- <img src="./Gambo - About Us_files/line.svg" alt=""> -->
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-stopwatch"></i>
							</div>
							<h4 >Save Your Precious Time.</h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-house-user"></i>
							</div>
							<h4 >Avoid the Line and Shop in the <br>Comfort of your Home.</h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-shopping-basket"></i>
							</div>
							<h4 >Buy in Bulk with Ease. </h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-car-sideview"></i>
							</div>
							<h4 >Cut Gas and Parking Costs</h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-search"></i>
							</div>
							<h4 > Easy to find products.</h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-analytics"></i>
							</div>
							<h4 >Low operational costs and better <br> quality of services.
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Body End -->
    <%- include('../includes/m-foot.ejs') %>

<!-- Footer End -->
<%- include('../includes/m-footer.ejs') %>
