<!DOCTYPE html>
<!-- saved from url=(0068)http://gambolthemes.net/html-items/gambo_supermarket_demo/index.html -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="images/wbg.png">
    <!-- <link href="/public/cartgrow/css/css2.css" rel="stylesheet"> -->
    <link href="../cartgrow/css/css2.css" rel="stylesheet">
    <link href="../cartgrow/css/unicons.css" rel="stylesheet">
    <link href="../cartgrow/css/style.css" rel="stylesheet">
    <link href="../cartgrow/css/responsive.css" rel="stylesheet">
    <link href="../cartgrow/css/night-mode.css" rel="stylesheet">
    <!-- Vendor Stylesheets -->
    <link href="../cartgrow/css/all.min.css" rel="stylesheet">
    <link href="../cartgrow/css/owl.carousel.css" rel="stylesheet">
    <link href="../cartgrow/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="../cartgrow/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../cartgrow/css/semantic.min.css">
    <!-- unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
</head>

<body>

    <!-- Category Model Start-->
    <%- include('../includes/catnsearch.ejs') %>

    <!-- Search Model End-->
    <!-- Cart Sidebar Offset Start-->
    <div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
        <div class="bs-canvas-header side-cart-header p-3 ">
            <div class="d-inline-block  main-cart-title">My Cart <span></span></div>
            <button type="button" class="bs-canvas-close close" aria-label="Close"><i
                    class="uil uil-multiply"></i></button>
        </div>
        <h1>Please login here</h1>
        <li>
            <input type="hidden" name="_csrf" value="F0ZPaXZM-iV392qhnaxCrHKi6WJ-3HAw2Ec4">
            <a href="login.html" class="offer-link"><i class="uil uil-phone-alt"></i>Login</a>
        </li>
    </div>

    <!-- Header Start -->
    <%- include('../includes/m-header.ejs') %>
    <!-- Header End -->
    <!-- Body Start -->
    <div class="wrapper">
        <div class="gambo-Breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/vegetables">Vegetables</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= product.title %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="all-product-grid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-dt-view">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div id="sync1" class="owl-carousel owl-theme owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage"
                                                style="transform: translate3d(-700px, 0px, 0px); transition: all 0s ease 0s; width: 2800px;">
                                                <div class="owl-item cloned" style="width: 350px;">
                                                    <div class="item">
                                                        <!-- <img src="../Gambo - Single Product View_files/big-3.jpg" alt=""> -->
                                                    </div>
                                                </div>
                                                <div class="owl-item cloned" style="width: 350px;">
                                                    <div class="item">
                                                        <!-- <img src="../Gambo - Single Product View_files/big-4.jpg" alt=""> -->
                                                    </div>
                                                </div>
                                                <div class="owl-item active" style="width: 350px;">
                                                    <div class="item">
                                                        <!-- <img src="../Gambo - Single Product View_files/big-1.jpg" alt=""> -->
                                                        <img src="/<%= product.imageUrl %>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-nav"><button type="button" role="presentation"
                                                class="owl-prev"><i class="uil uil-angle-left"></i></button><button
                                                type="button" role="presentation" class="owl-next"><i
                                                    class="uil uil-angle-right"></i></button></div>
                                        <div class="owl-dots disabled"></div>
                                    </div>
                                    <div id="sync2" class="owl-carousel owl-theme owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage"
                                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 350px;">
                                                <!-- <div class="owl-item active current" style="width: 87.5px;">
											<div class="item">
											<img src="../Gambo - Single Product View_files/big-1.jpg" alt="">
										</div></div>
										<div class="owl-item active" style="width: 87.5px;"><div class="item">
											<img src="../Gambo - Single Product View_files/big-2.jpg" alt="">
										</div></div>
										<div class="owl-item active" style="width: 87.5px;"><div class="item">
											<img src="../Gambo - Single Product View_files/big-3.jpg" alt="">
										</div></div>
										<div class="owl-item active" style="width: 87.5px;"><div class="item">
											<img src="../Gambo - Single Product View_files/big-4.jpg" alt="">
										</div></div> -->
                                            </div>
                                        </div>
                                        <div class="owl-nav disabled"><button type="button" role="presentation"
                                                class="owl-prev disabled"><span
                                                    aria-label="Previous">←</span></button><button type="button"
                                                role="presentation" class="owl-next disabled"><span
                                                    aria-label="Next">→</span></button></div>
                                        <div class="owl-dots disabled"><button role="button"
                                                class="owl-dot active"><span></span></button></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <div class="product-dt-right">
                                        <h2><%= product.title %></h2>
                                        <div class="no-stock">
                                            <!-- <p class="pd-no">Product No.<span>12345</span></p> -->
                                            <p class="stock-qty">Available<span>(Instock)</span></p>
                                        </div>
                                        <div class="product-radio">
                                            <ul class="product-now">
                                                <li>
                                                    <input type="radio" id="p1" name="product1">
                                                    <label for="p1">500g</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="p2" name="product1">
                                                    <label for="p2">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="p3" name="product1">
                                                    <label for="p3">2kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="p4" name="product1">
                                                    <label for="p4">3kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="pp-descp">Orange</p>
                                        <div class="product-group-dt">
                                            <ul>
                                                <li>
                                                    <div class="main-price ">Price<span>₹<%= product.price %></span>
                                                    </div>
                                                </li>
                                                <!-- <li><div class="main-price mrp-price">MRP Price<span>$18</span></div></li> -->
                                            </ul>
                                            <ul class="gty-wish-share">
                                                <li>
                                                    <div class="qty-product">
                                                        <div class="quantity buttons_added">
                                                            <input type="button" value="-" class="minus minus-btn">
                                                            <input type="number" step="1" name="quantity" value="1"
                                                                class="input-text qty text">
                                                            <input type="button" value="+" class="plus plus-btn">
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- <li><span class="like-icon save-icon" title="wishlist"></span></li> -->
                                            </ul>
                                            <% if(isAuthenticated) { %>
                                            <ul class="ordr-crt-share">
                                                <!-- <li><button class="add-cart-btn hover-btn"><i class="uil uil-shopping-cart-alt"></i>Add to Cart</button></li> -->
                                                
                                                <%- include('../includes/m-add-to-cart.ejs') %>
                                                <!-- <form action="/wishlist" method="POST">
                                                    <input type="hidden" name="_csrf" value="vrfcl8t1-vF6wzSdzKm0QLQKiXzuuYdYEOQ8">
                                                    <button class="add-cart-btn hover-btn" type="submit"><i class="uil uil-shopping-cart-alt"></i>Add to Wishlist</button>
                                                    <input type="hidden" name="productId" value="5f7d93c7d8b9c828745f74ed">
                                                </form> -->
                                                
                                            </ul>
                                            <% } %>
                                        </div>
                                        <!-- <div class="pdp-details">
												<ul>
													<li>
														<div class="pdp-group-dt">
															<div class="pdp-icon"><i class="uil uil-usd-circle"></i></div>
															<div class="pdp-text-dt">
																<span>Lowest Price Guaranteed</span>
																<p>Get difference refunded if you find it cheaper anywhere else.</p>
															</div>
														</div>
													</li>
													<li>
														<div class="pdp-group-dt">
															<div class="pdp-icon"><i class="uil uil-cloud-redo"></i></div>
															<div class="pdp-text-dt">
																<span>Easy Returns & Refunds</span>
																<p>Return products at doorstep and get refund in seconds.</p>
															</div>
														</div>
													</li>
												</ul>
											</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="pdpt-bg">
                            <div class="pdpt-title">
                                <h4>More Like This</h4>
                            </div>
                            <div class="pdpt-body scrollstyle_4">

                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-6.jpg" alt="">
                                        <div class="offer-badge">4% OFF</div>
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k1" name="cart1">
                                                    <label for="k1">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k2" name="cart1">
                                                    <label for="k2">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k3" name="cart1">
                                                    <label for="k3">2kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k4" name="cart1">
                                                    <label for="k4">3kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$12 <span>$15</span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-2.jpg" alt="">
                                        <div class="offer-badge">6% OFF</div>
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k5" name="cart2">
                                                    <label for="k5">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k6" name="cart2">
                                                    <label for="k6">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k7" name="cart2">
                                                    <label for="k7">2kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$24 <span>$30</span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-5(1).jpg" alt="">
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k8" name="cart3">
                                                    <label for="k8">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k9" name="cart3">
                                                    <label for="k9">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k10" name="cart3">
                                                    <label for="k10">1.50kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$15</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="pdpt-bg">
                            <div class="pdpt-title">
                                <h4>More Like This</h4>
                            </div>
                            <div class="pdpt-body scrollstyle_4">
                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-6.jpg" alt="">
                                        <div class="offer-badge">4% OFF</div>
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k1" name="cart1">
                                                    <label for="k1">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k2" name="cart1">
                                                    <label for="k2">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k3" name="cart1">
                                                    <label for="k3">2kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k4" name="cart1">
                                                    <label for="k4">3kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$12 <span>$15</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-2.jpg" alt="">
                                        <div class="offer-badge">6% OFF</div>
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k5" name="cart2">
                                                    <label for="k5">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k6" name="cart2">
                                                    <label for="k6">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k7" name="cart2">
                                                    <label for="k7">2kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$24 <span>$30</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-5(1).jpg" alt="">
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k8" name="cart3">
                                                    <label for="k8">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k9" name="cart3">
                                                    <label for="k9">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k10" name="cart3">
                                                    <label for="k10">1.50kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$15</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="pdpt-bg">
                            <div class="pdpt-title">
                                <h4>More Like This</h4>
                            </div>
                            <div class="pdpt-body scrollstyle_4">
                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-6.jpg" alt="">
                                        <div class="offer-badge">4% OFF</div>
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k1" name="cart1">
                                                    <label for="k1">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k2" name="cart1">
                                                    <label for="k2">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k3" name="cart1">
                                                    <label for="k3">2kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k4" name="cart1">
                                                    <label for="k4">3kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$12 <span>$15</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-2.jpg" alt="">
                                        <div class="offer-badge">6% OFF</div>
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k5" name="cart2">
                                                    <label for="k5">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k6" name="cart2">
                                                    <label for="k6">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k7" name="cart2">
                                                    <label for="k7">2kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$24 <span>$30</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-item border_radius">
                                    <a href="" class="cart-product-img">
                                        <img src="Gambo - Single Product View_files/img-5(1).jpg" alt="">
                                    </a>
                                    <div class="cart-text">
                                        <h4>Product Title Here</h4>
                                        <div class="cart-radio">
                                            <ul class="kggrm-now">
                                                <li>
                                                    <input type="radio" id="k8" name="cart3">
                                                    <label for="k8">0.50</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k9" name="cart3">
                                                    <label for="k9">1kg</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="k10" name="cart3">
                                                    <label for="k10">1.50kg</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="qty-group">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus minus-btn">
                                                <input type="number" step="1" name="quantity" value="1"
                                                    class="input-text qty text">
                                                <input type="button" value="+" class="plus plus-btn">
                                            </div>
                                            <div class="cart-item-price">$15</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body End -->
    <!-- Footer Start -->
    <%- include('../includes/m-foot.ejs') %>
    <!-- Footer End -->
    <!-- Javascripts -->
    <script src="../cartgrow/js/jquery-3.3.1.min.js"></script>
    <script src="../cartgrow/js/bootstrap.bundle.min.js"></script>
    <script src="../cartgrow/js/owl.carousel.js"></script>
    <script src="../cartgrow/js/semantic.min.js"></script>
    <script src="../cartgrow/js/jquery.countdown.min.js"></script>
    <script src="../cartgrow/js/custom.js"></script>
    <script src="../cartgrow/js/offset_overlay.js"></script>
    <script src="../cartgrow/js/night-mode.js"></script>
</body>

</html>